@import url('https://fonts.googleapis.com/css2?family=Poppins||Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.Fifthm{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Fifthmbox{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    
}
.collab{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 7em;
    padding-left: 50px;
    color: white;
    width: 100%;
}
.down{
    height: 90%;
    width: 90%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background: rgb(0, 0, 0);
}
.dp{
    border: 1px dotted rgb(0, 0, 0);
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    object-fit: cover;
    overflow: hidden; 
    display: flex; 
    align-items: center;
    justify-content: center;
}
#pic{
max-height: 100%;
max-width: 100%;
}
#picn{
    max-height: 80%;
    max-width: 80%;
 }


.info{
    margin-top: 4%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    white-space: nowrap;
}
@media only screen and (max-width: 480px){
  .Fifthm{
    height: auto;
  }
    .Fifthmbox{
      height: auto;
        width: 100%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        padding: 2%;
        background: rgba(71, 70, 70, 0.64);
        backdrop-filter: blur(1px);
        align-items: center;
    }
    .ab{
        height: 100%;
        width: 100%;
    }
    .dp{
        width: 80%;
        height: 80%;
    }
    .collab{
        font-size: 3em;
        margin-bottom: 5%;
        margin-top: 5%;
        padding: 0px;
    }
    .down{
      background-color: transparent;
    }
}


.mis-vis-eye-par{
    display: flex;
    justify-content: center;
    align-items: center;
}


.mission-div-wrap{
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.64);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 2rem;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eye-div-wrap{
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.64);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 2rem;
    height: fit-content;
    width: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.diamond-div-wrap{
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.64);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 2rem;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diamond-div-wrap,.eye-div-wrap,.mission-div-wrap{
    transform:
      perspective(800px)
      rotateY(25deg) scale(0.9)
      rotateX(10deg);
    filter: blur(0.5px);
    opacity: 0.7;
    transition: 0.6s ease all;
  
    &:hover {
      transform:
        perspective(800px)
        rotateY(-15deg)
        translateY(-50px)
        rotateX(10deg)
        scale(1);
      filter: blur(0);
      opacity: 1;
      background: rgba(71, 70, 70, 0.64);
      -webkit-backdrop-filter: blur(1px); /* Safari prefix */
      backdrop-filter: blur(1px);
    }
  }


@media (max-width: 952px){
    
    .mis-vis-eye-par{
        display: block;
    }

    .child-abt{
        width: 100%;
    }

    .eye-div-wrap{
        margin: 0rem 0rem;
    }

    .child-abt-parent-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  .bi{
    color: white;
    font-size: 1em;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #FE53BB;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  .gitpara{
    height: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
    align-self: baseline;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  i{
    display: flex;
    align-self: center;
  }
  .gitlink{
    text-decoration: none;
  }
  @supports (-webkit-appearance:none) {
    #container-stars {
      position: absolute;
      z-index: -1;
      width: 0%;
      height: 100%;
      overflow: hidden;
      transition: 0.5s;
      backdrop-filter: blur(1rem);
      border-radius: 5rem;
    }
  }